form{
    margin-top: 100px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
body{
    background-image: url("https://i.postimg.cc/FFZS68z0/luke-chesser-e-ICUFSeirc0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#click{
    width:150px;
    height: 50px;
    border: none;
    color: white;
    background-color: #560bad;
    border-radius: 4px;
}
#typing{
    width:150px;
    height: 50px;
    border-radius: 4px;
}

#display{
    margin: 150px 100px 100px 550px;
    display: block;
    

    
}
#apprenant{
    display:block;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 300px;
    margin-right: 50px;
}